#login{
    background-color: rgb(79, 81, 219);
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#title {
    color:rgb(6, 10, 2);
    text-align: center
}

#subtitle{
    color: rgb(15, 4, 4);
    text-align: center
}

#form {
    padding: 10px;
    
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center

}

form {
    background-color: yellow    ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    border-radius: 5px;
}

input{
    border-width: 1px;
    border-color: rgb(248, 245, 245);
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    /* padding-top: 10px; */
    margin: 10px;
}
button{
    background-color: rgb(247, 246, 248);
    border-style: solid;
    padding: 20px;

}